<a href="/ice_cream_parlors">Parlor Index</a><br>
<a href="/flavors">Flavor Index</a>
<form action="/ice_cream_parlors" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3>Add New Parlor:</h3>
  <p>Name:</p>
  <input type='text' name='ice_cream_parlor[name]'>
  <p>Street Number:</p>
  <input type='text' name='ice_cream_parlor[street_number]'>
  <p>Open?:</p>
  <input type='text' name='ice_cream_parlor[open]'>
  <input type='submit'/>
</form>