<form action="/coffee_companies/<%= @company.id %>/coffee_roasts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3>Add New Roast:</h3>
  <p>Name:</p>
  <input type='text' name='roast[name]'>
  <p>Origin:</p>
  <input type='text' name='roast[origin]'>
  <p>Elevation:</p>
  <input type='text' name='roast[elevation]'>
  <p>Fresh?:
  <input type='checkbox' name='roast[fresh]'/><br/>
  </p>
  <input type='submit' value="Create Roast"/>
</form>
