<h1>Coffee Companies</h1>

<% @companies.each do |company| %>
  <h3><a href="/coffee_company/<%= company.id %>"><%= company.name %></a></h3>
<% end %>
<a href="/coffee_company/new">New Coffee Company</a>
