<h1>Coffee Companies</h1>
<% @companies.each do |company| %>
  <h3><a href="/coffee_companies/<%= company.id %>"><%= company.name %></a> Created At: <%= company.created_at %></h3>
<% end %>

<% if @companies.empty? %>
<h3> No Coffee Companies!</h3>
<% end %>
<a href="/coffee_companies/new">New Coffee Company</a>
