<h1>Coffee Companies</h1>
<% @companies.each do |company| %>
<h3><%= link_to "#{company.name}", "/coffee_companies/#{company.id}" %>
 Created At: <%= company.created_at %></h3>
<% end %>

<% if @companies.empty? %>
<h3> No Coffee Companies!</h3>
<% end %>
<%= link_to 'New Coffee Company', '/coffee_companies/new' %>
