<form action="/coffee_companies" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3>Add New Company:</h3>
  <p>Name:</p>
  <input type='text' name='company[name]'>
  <p>Address:</p>
  <input type='text' name='company[address]'>
  <p>Zipcode:</p>
  <input type='text' name='company[zipcode]'>
  <p>Local?:</p>
  <input type='checkbox' name='company[local]'/><br/>
  <input type='submit'/>
</form>
