<h1>Welcome to the one to many relationship</h1>

<ul>
  <li><a href="/ice_cream_parlor">Ice cream Parlor Index</a></li>
  <li><a href="/coffee_company">Coffee Company Index</a></li>
  <li><a href="/ice_cream_parlor/new">New Ice cream Parlor</a></li>
  <li><a href="/coffee_company/new">New Coffee Company</a></li>
</ul>