<h1>Welcome to the one to many relationship</h1>

<ul>
  <li><a href="/ice_cream_parlors">Ice Cream Parlors Index</a></li>
  <li><a href="/flavors">Flavors Index</a>
  <li><a href="/coffee_companies">Coffee Companies Index</a></li>
  <li><a href="/coffee_roasts">Coffee Roasts Index</a></li>
  <li><a href="/ice_cream_parlors/new">New Ice Cream Parlor</a></li>
  <li><a href="/coffee_companies/new">New Coffee Company</a></li>
</ul>
