<h1>Welcome to the one to many relationship</h1>

<ul>
  <li><a href="/ice_cream_parlors">Ice cream Parlor Index</a></li>
  <li><a href="/flavors">Flavor Index</a>
  <li><a href="/coffee_companies">Coffee Company Index</a></li>
  <li><a href="/ice_cream_parlors/new">New Ice Cream Parlor</a></li>
  <li><a href="/coffee_companies/new">New Coffee Company</a></li>
</ul>
