<form action="/ice_cream_parlor" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Add new flavor:</p>
  <p>Flavor Name:</p>
  <input type='text' name='ice_cream_parlor[flavor]'/><br/>
  <p>Amount:</p>
  <textarea name='ice_cream_parlor[inventory]'></textarea><br/>
  <input type='submit'/>
</form>