<a href="/ice_cream_parlor">Parlor Index</a>

<h1><%= @parlors.name %></h1>
<p><%= @parlors.open %></p>
<p><%= @parlors.street_number %></p>

<a href="/ice_cream_parlor/<%= @parlors.id %>/edit">Edit</a>
